@font-face {
  font-family: 'Futura PT Medium';
  src: url('./futura_pt_medium.eot'); /* IE 9 Compatibility Mode */
  src: url('./futura_pt_medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */ url('./futura_pt_medium.woff2') format('woff2'), /* Super Modern Browsers */ url('./futura_pt_medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */ url('./futura_pt_medium.ttf') format('truetype'), /* Safari, Android, iOS */ url('./futura_pt_medium.svg#futura_pt_medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Futura PT Light';
  src: url('./futura_pt_light.eot'); /* IE 9 Compatibility Mode */
  src: url('./futura_pt_light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */ url('./futura_pt_light.woff2') format('woff2'), /* Super Modern Browsers */ url('./futura_pt_light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */ url('./futura_pt_light.ttf') format('truetype'), /* Safari, Android, iOS */ url('./futura_pt_light.svg#futura_pt_light') format('svg'); /* Chrome < 4, Legacy iOS */
}

